<!-- DISH SIGN-UP FORM -->
{{#> content-block}}
<h2 style="text-align: center;">Tasty is coming your way</h2>
<form class="form dish-form">
    <div class="form-floating mb-3">
        <input class="form-control" id="famous-dish" type="text" name="dishname" required>
        <label for="name-of-dish">What tasty dish would you like to bring?</label>
    </div>
    <div class="form-floating mb-3">
        <select name="dishtype" id="dish-type" class="form-select" required>
            <option selected>Choose an option</option>
            <option value="appetizer">Appetizer</option>
            <option value="entree">Entrée</option>
            <option value="side">Side</option>
            <option value="dessert">Dessert</option>
        </select>
        <label for="dish-category">Please select type of dish.</label>
    </div>
    <div class="form-floating mb-3">
        <select name="dishallergy" id="dish-allergies" class="form-select" required>
            <option selected>Choose an option</option>
            <option value="eggs">Eggs</option>
            <option value="milk/dairy">Milk/Dairy</option>
            <option value="peanuts">Peanuts</option>
            <option value="treenuts">Tree nuts</option>
            <option value="fish">Fish</option>
            <option value="shellfish">Shell fish</option>
            <option value="wheatgluten">Wheat/Gluten</option>
            <option value="soy">Soy</option>
            <option value="sesame">Sesame</option>
            <option value="none">None, based on list above</option>
        </select>
        <label for="dish-related-allergy">Does your dish have any known allergens?</label>
    </div>
    <div class="text-center">
        <button class="btn-fof-primary" id="dishform">Add Your Dish</button>
    </div>
</form>


<script src="/js/dish.js"></script>

{{/content-block}}
