<!-- DISH SIGN-UP FORM -->
{{#> content-block}}
<h1 style="text-align: center;">Tasty is coming your way</h1>
    <form class="form dish-form">
        <div class="form-group">
            <label for="name-of-dish">What tasty dish will you bring?</label>
            <input class="form-control" id="famous-dish" type="text" name="dishname">
        </div>
        <label for="dish-category">What kind of dish is it?</label>
        <select name="dishTypes" id="dish-type">
            <option value="appetizer">appetizer</option>
            <option value="entree">entree</option>
            <option value="side">side</option>
            <option value="dessert">dessert</option>
        </select>
        {{!-- <div class="form-group">
            <label for="type-of-dish">Dish type:</label><br>
            <input class="form-control" id="dish-type" type="text" name="dtype">
        </div> --}}
        <label for="dish-related-allergy">Dish related allergies:</label>
        <select name="dishallergy" id="dish-allergies">
            <option value="none">None</option>
            <option value="eggs">Eggs</option>
            <option value="milk/dairy">Milk/Dairy</option>
            <option value="peanuts">Peanuts</option>
            <option value="treenuts">Tree nuts</option>
            <option value="fish">Fish</option>
            <option value="shellfish">Shell fish</option>
            <option value="wheatgluten">Wheat/Gluten</option>
            <option value="soy">Soy</option>
            <option value="sesame">Sesame</option>
        </select>
        <button class="btn btn-fof-primary" id="dishform" type="submit">Dish+</button>
    </form>

    <script src="/js/dish.js"></script>

    {{/content-block}}

   