{{!-- This is a table that displays dishes inputs that have been added --}}
{{#> content-block}}
<tr>
    <td scope="row">{{dishName}}</td>
    <td scope="row">{{contributor}}</td>
    <td scope="row">{{dishtype}}</td>
</tr>

{{/content-block}}
