{{#>content-block}}
<h2 id="login" style="text-align: center;">Login</h2>

<form class="form login-form needs-validation">
  <div class="form-floating mb-3">
    <input class="form-control" id="login-email" type="text" name="email" placeholder="Email" required>
    <label for="email">Email</label>
    <div class="invalid-feedback">
      Please enter your email address.
    </div>
  </div>
  <div class="form-floating mb-3">
    <input class="form-control" id="login-password" type="password" name="password" placeholder="Password" required>
    <label for="password">Password</label>
    <div class="invalid-feedback">
      Please enter a password.
    </div>
  </div>
  <button class="btn-fof-primary" id="loginBtn" type="submit">Login</button>
</form>
<p class="text-center mt-3">Not a member? Sign up <a href="/sign-up">here</a>.</p>
<script src="./js/login.js"></script>
{{/content-block}}