{{#>content-block}}
    <div class="navbar">
        <div class="container">
            <a href="/" id="logo"></a>
            {{#if loggedIn}}
            <nav>
                <ul class="menu">
                    <li>Dashboard</li>
                </ul>
            </nav>
            {{/if}}
    </div>
</div>
{{/content-block}}