 {{#>content-block}}
    <h1 style="text-align: center;">Sign Up</h1>

    <form class="form signup-form">
        <div class="form-group">
            <label for="fname">First Name:</label>
            <input class="form-control" id="signup-fname" type="text" name="fname">
        </div>
        <div class="form-group">
            <label for="lname">Last Name:</label>
            <input class="form-control" id="signup-lname" type="text" name="lname">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" id="signup-email" type="text" name="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="password">Password:</label><br>
            <input class="form-control" id="signup-password" type="password" name="password"><br>
        </div>

        <h3>Allergies</h3>
        <div class="form-check form-check-inline user-option">
            <input id="eggs" class="form-check-input signup-allergies" type="checkbox" name="allergy" value="Eggs">
            <label class="form-check-label allergy-label" for="eggs">Eggs</label>
        </div>
        <div class="form-check form-check-inline">
            <input id="milk-dairy" class="form-check-input signup-allergies" type="checkbox" name="allergy" value="Milk/Dairy">
            <label class="form-check-label allergy-label" for="milk-dairy">Milk/Dairy</label>
        </div>
        <div class="form-check form-check-inline">
            <input id="peanuts" class="form-check-input signup-allergies" type="checkbox" name="allergy" value="Peanuts">
            <label class="form-check-label allergy-label" for="peanuts">Peanuts</label>
        </div>
        <div class="form-check form-check-inline">
            <input id="tree-nuts" class="form-check-input signup-allergies" type="checkbox" name="allergy" value="Tree Nuts">
            <label class="form-check-label allergy-label" for="tree-nuts"><span style="white-space: nowrap">Tree Nuts</span></label>
        </div>
        <div class="form-check form-check-inline">
            <input id="fish" class="form-check-input signup-allergies" type="checkbox" name="allergy" value="Fish">
            <label class="form-check-label allergy-label" for="fish">Fish</label>
        </div>
        <div class="form-check form-check-inline">
            <input id="shellfish" class="form-check-input signup-allergies" type="checkbox" name="allergy" value="Shellfish">
            <label class="form-check-label allergy-label" for="shellfish">Shellfish</label>
        </div>
        <div class="form-check form-check-inline">
            <input id="wheat" class="form-check-input signup-allergies" type="checkbox" name="allergy" value="Wheat">
            <label class="form-check-label allergy-label" for="wheat">Wheat</label>
        </div>
        <div class="form-check form-check-inline">
            <input id="soy" class="form-check-input signup-allergies" type="checkbox" name="allergy" value="Soy">
            <label class="form-check-label allergy-label" for="soy">Soy</label>
        </div>
        <div class="form-check form-check-inline">
            <input id="sesame"  class="form-check-input signup-allergies" type="checkbox" name="allergy" value="Sesame">
            <label class="form-check-label allergy-label" for="sesame">Sesame</label>
        </div>
        <br><br>
        <div class="form-group">
            <label for="allergies">Famous Dish</label>
            <input class="form-control" id="signup-favdish" type="text" name="favdish">
        </div>        
        <div class="form-group">
            <div class="preview"></div>
            <label for="profile-img">Profile image</label>
            <input class="form-control-file" id="avatar" type="file" name="avatar" accept="image/*">
        </div>
        <button class="btn btn-fof-primary">Sign Up</button>
    </form>
{{/content-block}}

