{{#>content-block}}
<div class="topbar">
  <!-- menu items -->
  <div class="container">
    {{#if loggedIn}}
    <ul class="menu session">
      <li>
        <span class="greet">Welcome, {{userName}}!</span>
      </li>
      <li class="bar"></li>
      <li>
        <a href="/logout">
          Logout
        </a>
      </li>
    </ul>
    {{else}}
    <ul class="menu">
      <li>
        <a href="/signup">
          Sign Up
        </a>
      </li>
      <li class="bar"></li>
      <li>
        <a href="/">
          Login
        </a>
      </li>
    </ul>
    {{/if}}
  </div>
</div>
{{/content-block}}