<!-- create Potluck form -->
<section class="container">
    <h1>Create Potluck</h1>
    <div>
        <form class="form event-form">
            <div class="form-floating mb-3">
                <input class="form-control" id="event-theme" type="text" name="theme" placeholder="Event Name/Theme" required>
                <label for="theme">Event Name/Theme</label>
                <div class="invalid-feedback">
                    Please enter your first name.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="event-date" type="datetime-local" name="date" required>
                <label for="date">Date of Potluck</label>
                <div class="invalid-feedback">
                    Please enter your first name.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="event-location" type="text" name="location"
                    placeholder="ex. office, my home" required>
                <label for="location">Potluck Venue</label>
                <div class="invalid-feedback">
                    Please enter your first name.
                </div>
            </div>
        <div class="form-floating mb-3">
            <button class="btn-fof-primary mt-3" id="create-potluck" type="submit">Create</button>
        </div>
        </form>
    </div>
</section>
<script src="./js/create-event.js"></script>

<!-- <label for="address-field">Location of Potluck</label>
        <div>
            <div class="form-group" name="address-field">
            
                <input type="street" 
                       class="form-control" 
                       id="autocomplete" 
                       placeholder="Street">
                
                <input type="city" 
                       class="form-control" 
                       id="inputCity" 
                       placeholder="City">
                
                <input type="state" 
                       class="form-control" 
                       id="inputState" 
                       placeholder="State">
                
                <input type="zip" 
                       class="form-control" 
                       id="inputZip" 
                       placeholder="Zip">
                
                <input type="county" 
                       class="form-control" 
                       id="inputCounty" 
                       placeholder="County">
                
                <input type="country" 
                       class="form-control" 
                       id="inputCountry" 
                       placeholder="Country">
            </div>
        </div> -->