<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>
    </th>
  </tr>
  </thead>
  <tbody>
    {{dish-row}}
  </tbody>
</table>
















  {{!-- -- <tr>
      <th scope="col">#</th>
      <th scope="col">Name of dish</th>
      <th scope="col">Prepared by</th>
      <th scope="col">Type of dish</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>Mofongo</td>
      <td>Otto</td>
      <td>entree</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Pasteles</td>
      <td>Thornton</td>
      <td>appetizer</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Pupusas</td>
      <td>Fiama</td>
      <td>entree</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Pasteles</td>
      <td colspan="2">Larry the Bird</td>
      <td>Pupusas</td>
    </tr>
  </tbody>
</table> --}}
