<section class="container card">
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-6 text-center welcome">
      <h1 class="display-4 fw-bold lh-1 mb-3">Welcome to <span>Feast of Friends</span></h1>
      <p class="">Feast of Friends is a FREE app designed to assist you in organizing your next potluck.</p>
      <p>From holiday get togethers to the occassional office party, Feast of Friends is here to make planning all kinds of gatherings simple and easy.</p>

    </div>
    <div class="col-sm-12 col-md-6">
      {{#if loggedIn}}
        {{>create-form}}
      {{else}}
        {{>login}}
      {{/if}}
    </div>
  </div>
</section>