    <h1 style="text-align: center;">Sign Up</h1>

    <form class="form signup-form">
        <div class="form-group">
            <label for="fname">First Name:</label>
            <input class="form-control" id="signup-fname" type="text" name="fname">
        </div>
        <div class="form-group">
            <label for="lname">Last Name:</label>
            <input class="form-control" id="signup-lname" type="text" name="lname">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" id="signup-email" type="text" name="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="password">Password:</label><br>
            <input class="form-control" id="signup-password" type="password" name="password"><br>
        </div>

        {{!-- <h3>Allergies</h3>

        <div class="form-check form-check-inline">

            <input class="form-check-input signup-allergies" type="checkbox" name="eggs" value="Eggs">
            <label class="form-check-label" for="eggs">Eggs</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input signup-allergies" type="checkbox" name="milk-dairy" value="Milk/Dairy">
            <label class="form-check-label" for="milk-dairy">Milk/Dairy</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input signup-allergies" type="checkbox" name="peanuts" value="Peanuts">
            <label class="form-check-label" for="peanuts">Peanuts</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input signup-allergies" type="checkbox" name="eggs" value="Eggs">
            <label class="form-check-label" for="eggs"><span style="white-space: nowrap">Tree Nuts</span></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input signup-allergies" type="checkbox" name="milk-dairy" value="Milk/Dairy">
            <label class="form-check-label" for="milk-dairy">Fish</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input signup-allergies" type="checkbox" name="peanuts" value="Peanuts">
            <label class="form-check-label" for="peanuts">Shellfish</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input signup-allergies" type="checkbox" name="eggs" value="Eggs">
            <label class="form-check-label" for="eggs">Wheat</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input signup-allergies" type="checkbox" name="milk-dairy" value="Milk/Dairy">
            <label class="form-check-label" for="milk-dairy">Soy</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input signup-allergies" type="checkbox" name="peanuts" value="Peanuts">
            <label class="form-check-label" for="peanuts">Sesame</label>
        </div>
        <br><br>
        <div class="form-group">
            <label for="allergies">Famous Dish</label>
            <input class="form-control" id="signup-favdish" type="text" name="favdish">
        </div>
        <div class="form-group">
            <label for="profile-img">Profile image</label>
            <input class="form-control-file" id="profile-img" type="file">
        </div> --}}
        <button class="btn btn-fof-primary" id="signUpBtn" type="submit">Sign Up</button>
    </form>
