/* element styles */
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

aside, main {
    flex-grow: 1;
}

button {
    background-color: #6991e3;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 10px;
    width: 100%;
}

footer {
    background-color: #888;
    color: #fff;
    flex-shrink: 0;
    font-size: 12px;
    text-align: center;
}

h1 {
    text-align: center;
}

header {
    background-color: #e31d27;
    color: #fff;
    height: 125px;
    /* margin-bottom: 30px; */
    padding: 1px;
}

input {
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    padding: 10px 5px;
    width: 100%;
}

input:outline, input:focus, input:focus-visible {
    border-color: lightgreen;
}

/* oo classes */

.container {
    margin-bottom: 30px;
    width: 1000px;
}

.employee-block {
    margin-bottom: 30px;
}

.employee-header {
    background-color: #0077f7;
    color: #fff;
    padding: 20px;
}

.employee-header h2 {
    margin-top: 0;
}

.employee-header h3 {
    margin-bottom: 0;
}

.employee-details-wrap {
    background-color: #f7f7f9;
    padding: 30px 20px;
}

.employee-details {
    background-color: #fff;
}

.employee-details div {
    border-bottom: 1px solid #333;
    padding: 15px;
}

.employee-details div:last-child {
    border-bottom: none;
}

.main {
    margin: 0 auto;
    min-height: 83vh;
}

.row {
    justify-content: center;
}


/* media queries */
@media screen and (max-width: 375px) {
}

@media screen and (min-width: 376px) and (max-width: 1119px) {
}